.formular{
    display: flex;
    justify-content: center;
}

:root{
	font-size:10px;
}

body{
	font-family:sans-serif;
	font-size:1.6rem;
  background-color: #f3f3f3;
}
header{
	position:absolute;
	z-index:10;
	width:100%;
	top:0;
}
nav{
	display:flex;
	justify-content:center;
	gap:4rem;
}
nav ul{
	display:flex;
	gap:2rem;
	list-style:none;
}
nav h3 a,
nav ul li a{
	display:block;
	line-height: 6rem;
	text-decoration:none;
	color:black;
}
main{
	padding:2rem;
	text-align:center;
}
main a{
	color:black;
}


#mobile-menu{
	position:absolute;
	top:50%;
	right:2rem;
	z-index:1;
  margin-top: 22px;
	width:4rem;
	height:4rem;
	cursor:pointer;
}
#mobile-menu span{
	position:absolute;
	width:80%;
	height:1px;
	left:10%;
	top:50%;
	background-color:black;
	transition:all 0.3s ease-in-out;
}
#mobile-menu span:first-of-type{
	top:25%;
}
#mobile-menu span:last-of-type{
	top:75%;
}
#mobile-menu.open span{
	opacity:0;
}
#mobile-menu.open span:first-of-type,
#mobile-menu.open span:last-of-type{
	transform:rotate(45deg);
	opacity:1;
	top:50%;
}
#mobile-menu.open span:last-of-type{
	transform:rotate(-45deg);
}

#mobile-menu-content{
	width:100%;
	background:#F3F3F3;
	position:fixed;
	top:-100vh;
	left:0;
	z-index:5;
	display:flex;
	align-items:flex-start;
	transition:top 0.7s ease-in-out;
}
#mobile-menu-content.open{
	top:6rem;
}
#mobile-menu-content > div{
	width:100%;
	height:calc(100vh - 1px);
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
#mobile-menu-content > div > ul{
	width:100%;
}
#mobile-menu-content ul li{
	display:flex;
	justify-content:center;
	flex-direction:column;
	text-align:center;
	border-top:1px solid black;
}
#mobile-menu-content ul li:last-of-type{
	border-bottom:1px solid black;
}
#mobile-menu-content ul li a{
	padding:2rem;
	text-decoration:none;
	color:black;
	display:block;}


  @media (max-width:1024px){
	header nav ul{
		display:none;
	}
}

ul {
  padding: 0px;
}

#menubilled {
  max-width: 40px;
  max-height: 40px;
}
