
#prlx_lyr_1{
  position: fixed;
  background: url() no-repeat 0px 200px;
  width: 100%;
  height: 800px;
}
#prlx_lyr_2 {
  position: fixed;
  background: url() no-repeat 600px 400px;
  width: 100%;
  height: 1000px;
}

.kalender-container {
  text-align: left;
  display: grid;
  grid-template-areas:
    "o o . . dag"
    "be be be be be";
  grid-template-columns: repeat(5, 1fr);
  box-sizing: border-box;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 2%;
  grid-gap: 2%;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 500px;
}

.manede{
	grid-area: man;
}

h3{
	grid-area: dag;
}

.uge {
  display: block;
}

.dato {
  grid-area: o;
}

.kalender-beskrivelse{
    grid-area: be;
}

.top-container {
  display: grid;
  grid-template-areas: "p . man . n ";
  grid-template-columns: repeat(5, 1fr);
  padding-top: 2.5px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  grid-gap: 5px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 500px;
}

.knap {
  height: 35px;
  width: auto;
}

.prev {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: p;
  border: none;
  background-color: #ffffff;

}

.prev:active {
  background-color: #00454e;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: n;
  border: none;
  background-color: #ffffff;
}

.next:active {
  background-color: #00454e;
}

.bottom {
  margin-bottom: 75px;
}

#prlx_lyr_1{
  pointer-events: none;
}

#prlx_lyr_2{
  pointer-events: none;
}

:root{
	font-size:10px;
}

body{
	font-family:sans-serif;
	font-size:1.6rem;
	line-height:1.4;
}
header{
  background-color: white;
	position:absolute;
	z-index:10;
	width:100%;
	top:0;
}
nav{
	display:flex;
	justify-content:center;
	gap:4rem;
}
nav ul{
	display:flex;
	gap:2rem;
	list-style:none;
}
nav h3 a,
nav ul li a{
	display:block;
	line-height: 6rem;
	text-decoration:none;
	color:white;
}
main{
	padding:2rem;
	text-align:center;
}
main a{
	color:black;
}


#mobile-menu{
	position:absolute;
	top:50%;
	right:2rem;
	z-index:1;
  margin-top: 22px;
	width:4rem;
	height:4rem;
	cursor:pointer;
}
#mobile-menu span{
	position:absolute;
	width:80%;
	height:1px;
	left:10%;
	top:50%;
	background-color:black;
	transition:all 0.3s ease-in-out;
}
#mobile-menu span:first-of-type{
	top:25%;
}
#mobile-menu span:last-of-type{
	top:75%;
}
#mobile-menu.open span{
	opacity:0;
}
#mobile-menu.open span:first-of-type,
#mobile-menu.open span:last-of-type{
	transform:rotate(45deg);
	opacity:1;
	top:50%;
}
#mobile-menu.open span:last-of-type{
	transform:rotate(-45deg);
}

#mobile-menu-content{
	width:100%;
	background:white;
	position:fixed;
	top:-100vh;
	left:0;
	z-index:5;
	display:flex;
	align-items:flex-start;
	transition:top 0.7s ease-in-out;
}
#mobile-menu-content.open{
	top:6rem;
}
#mobile-menu-content > div{
	width:100%;
	height:calc(100vh - 1px);
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
#mobile-menu-content > div > ul{
	width:100%;
}
#mobile-menu-content ul li{
	display:flex;
	justify-content:center;
	flex-direction:column;
	text-align:center;
	border-top:1px solid black;
}
#mobile-menu-content ul li:last-of-type{
	border-bottom:1px solid black;
}
#mobile-menu-content ul li a{
	padding:2rem;
	text-decoration:none;
	color:black;
	display:block;}

  @media (max-width:1024px){
	header nav ul{
		display:none;
	}
}
ul {
  padding: 0px;
}
