body{
    background-color: #F3F3F3;
  }
  .topbillede{
    width: 100%;
  }
  .nyhedbox {
    background-color: #FFFFFF;
    margin: 2%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .billede {
    width: 578px;
    max-width: 95%;
    padding-top: 2%;
    padding-left: 2%;
  }
  .billede2 {
      width: 400px;
      max-width: 95%;
      padding-top: 2%;
    padding-left: 2%;
  }
  .nyhedoverskrift {
    color: #000000;
    font-size: 18px;
  }
  .tekstfelt {
    height: 30px;
  }
  p {
    font-family: 'Utopia Std';
    color: #000000;
    position: relative;
    left: 10px;
  }
  .nyhederknap {
    color: #7BB56F;
    border: none;
    background-color: #FFFFFF;
    position: relative;
    left: 5px;
  }

  /* splashpage */
.splash {
  display: flex;
  position: fixed;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 200;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.fade.in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
.splash.display-none {
  display: flex;
  position: fixed;
  align-items: center;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: -10;
  transition: all 0.5s;
}
/* splashpage slut */
