body{
    background-color: #F3F3F3;
  }
  h1{
    text-align: center;
  }
  .topbillede{
    width: 100%;
  }
  .nyhedbox {
    background-color: #FFFFFF;
    margin: 2%;
  }
  .billede1 {
    width: 700px;
    max-width: 100%;
  }
  .nyhedoverskrift {
    color: #000000;
  }
  .tekstfelt {
    height: 30px;
  }
  .nyhedertekst {
    color: #000000;
  }
  .nyhederknap {
    color: #7BB56F;
    border: none;
    background-color: #FFFFFF;
  }
  
  /* splashpage */
.splash {
  display: flex;
  position: fixed;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #DE7B03;
  z-index: 200;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.fade.in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
.splash.display-none {
  display: flex;
  position: fixed;
  align-items: center;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: #DE7B03;
  z-index: -10;
  transition: all 0.5s;
}
/* splashpage slut */
